/*This file is not needed for stickyCrumb, only for testing*/
$bp: 992px;

//COMMON ELEMENTS
.example-container{

        > ul {
            background-color: #f26000;

            &,
                li{
                    list-style: none;
                    list-style-type: none;
                    padding:0;
                    margin:0;
                    display: inline-block;

                        > a{
                                &, &:visited {
                                    color: #fff;
                                    width: auto;
                                }
                        }

                }

                > li{
                    padding: 20px;
                }
        }
}


#scBtnTop{
    background-color: #f26722;
}


//PAGE STYLING
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body{
    margin:0;
    padding:0;
    background: #f1f1f1;
}


#page{
        .content{
            padding: 20px;
        }
}

#scStickyElement:before{
    content: 'This is stickyCrumb.js!';
    padding: 10px;
    background-color: rgba(1,1,1, 0.85);
    color: #fff;
    width:50%;
    text-align: center;
    min-height: 50px;
    line-height: 50px;
    position: fixed;
    top: 70px;
    z-index: 1000;
    left:  25%;
    opacity: 0;
    animation: esd-fadeout-custom 6s;
}

@keyframes esd-fadeout-custom {
    0% {
        opacity:1;
    }
    75%{
        opacity:1;
    }
    100% {
        opacity:0;
        display: none;
    }
}