//This file is only for debug purposes
/*
#scStickyElement{
        > ul {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            min-width: 100%;

                > li{
                    flex: 0 0 auto;
                    white-space: nowrap;
                }
                > li:last-child{
                    position: relative;
                }
        }
}
*/